<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (utilisateur(); as utilisateurRef) {
      <div>
        <h2 data-cy="utilisateurDetailsHeading"><span jhiTranslate="senegalEmploiApp.utilisateur.detail.title">Utilisateur</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ utilisateurRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.utilisateur.nom">Nom</span></dt>
          <dd>
            <span>{{ utilisateurRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.utilisateur.prenom">Prenom</span></dt>
          <dd>
            <span>{{ utilisateurRef.prenom }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.utilisateur.email">Email</span></dt>
          <dd>
            <span>{{ utilisateurRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.utilisateur.motDePasse">Mot De Passe</span></dt>
          <dd>
            <span>{{ utilisateurRef.motDePasse }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.utilisateur.role">Role</span></dt>
          <dd>
            <span>{{ utilisateurRef.role }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/utilisateur', utilisateurRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
