<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (candidat(); as candidatRef) {
      <div>
        <h2 data-cy="candidatDetailsHeading"><span jhiTranslate="senegalEmploiApp.candidat.detail.title">Candidat</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ candidatRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.candidat.cv">Cv</span></dt>
          <dd>
            <span>{{ candidatRef.cv }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.candidat.telephone">Telephone</span></dt>
          <dd>
            <span>{{ candidatRef.telephone }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.candidat.adresse">Adresse</span></dt>
          <dd>
            <span>{{ candidatRef.adresse }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.candidat.photoPath">Photo Path</span></dt>
          <dd>
            <span>{{ candidatRef.photoPath }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.candidat.utilisateur">Utilisateur</span></dt>
          <dd>
            @if (candidat()!.utilisateur) {
              <div>
                <a [routerLink]="['/utilisateur', candidat()!.utilisateur?.id, 'view']">{{ candidatRef.utilisateur?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/candidat', candidatRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
