<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (recruteur(); as recruteurRef) {
      <div>
        <h2 data-cy="recruteurDetailsHeading"><span jhiTranslate="senegalEmploiApp.recruteur.detail.title">Recruteur</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ recruteurRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.recruteur.entreprise">Entreprise</span></dt>
          <dd>
            <span>{{ recruteurRef.entreprise }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.recruteur.secteur">Secteur</span></dt>
          <dd>
            <span>{{ recruteurRef.secteur }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.recruteur.utilisateur">Utilisateur</span></dt>
          <dd>
            @if (recruteur()!.utilisateur) {
              <div>
                <a [routerLink]="['/utilisateur', recruteur()!.utilisateur?.id, 'view']">{{ recruteurRef.utilisateur?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/recruteur', recruteurRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
