<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (offreEmploi(); as offreEmploiRef) {
      <div>
        <h2 data-cy="offreEmploiDetailsHeading"><span jhiTranslate="senegalEmploiApp.offreEmploi.detail.title">Offre Emploi</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ offreEmploiRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.titre">Titre</span></dt>
          <dd>
            <span>{{ offreEmploiRef.titre }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.description">Description</span></dt>
          <dd>
            <span>{{ offreEmploiRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.remuneration">Remuneration</span></dt>
          <dd>
            <span>{{ offreEmploiRef.remuneration }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.datePublication">Date Publication</span></dt>
          <dd>
            <span>{{ offreEmploiRef.datePublication | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.imagePath">Image Path</span></dt>
          <dd>
            <span>{{ offreEmploiRef.imagePath }}</span>
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.recruteur">Recruteur</span></dt>
          <dd>
            @if (offreEmploi()!.recruteur) {
              <div>
                <a [routerLink]="['/recruteur', offreEmploi()!.recruteur?.id, 'view']">{{ offreEmploiRef.recruteur?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.typeContrat">Type Contrat</span></dt>
          <dd>
            @if (offreEmploi()!.typeContrat) {
              <div>
                <a [routerLink]="['/type-contrat', offreEmploi()!.typeContrat?.id, 'view']">{{ offreEmploiRef.typeContrat?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.poste">Poste</span></dt>
          <dd>
            @if (offreEmploi()!.poste) {
              <div>
                <a [routerLink]="['/poste', offreEmploi()!.poste?.id, 'view']">{{ offreEmploiRef.poste?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="senegalEmploiApp.offreEmploi.localisation">Localisation</span></dt>
          <dd>
            @if (offreEmploi()!.localisation) {
              <div>
                <a [routerLink]="['/localisation', offreEmploi()!.localisation?.id, 'view']">{{ offreEmploiRef.localisation?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/offre-emploi', offreEmploiRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
