<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-offre-emploi-heading"
        data-cy="OffreEmploiCreateUpdateHeading"
        jhiTranslate="senegalEmploiApp.offreEmploi.home.createOrEditLabel"
      >
        Create or edit a Offre Emploi
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="senegalEmploiApp.offreEmploi.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titreRef = editForm.get('titre')!;
        <div class="mb-3">
          <label class="form-label" for="field_titre" jhiTranslate="senegalEmploiApp.offreEmploi.titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
          @if (titreRef.invalid && (titreRef.dirty || titreRef.touched)) {
            <div>
              @if (editForm.get('titre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let descriptionRef = editForm.get('description')!;
        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="senegalEmploiApp.offreEmploi.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          @if (descriptionRef.invalid && (descriptionRef.dirty || descriptionRef.touched)) {
            <div>
              @if (editForm.get('description')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_remuneration" jhiTranslate="senegalEmploiApp.offreEmploi.remuneration">Remuneration</label>
          <input
            type="number"
            class="form-control"
            name="remuneration"
            id="field_remuneration"
            data-cy="remuneration"
            formControlName="remuneration"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_datePublication" jhiTranslate="senegalEmploiApp.offreEmploi.datePublication"
            >Date Publication</label
          >
          <div class="d-flex">
            <input
              id="field_datePublication"
              data-cy="datePublication"
              type="datetime-local"
              class="form-control"
              name="datePublication"
              formControlName="datePublication"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_imagePath" jhiTranslate="senegalEmploiApp.offreEmploi.imagePath">Image Path</label>
          <input type="text" class="form-control" name="imagePath" id="field_imagePath" data-cy="imagePath" formControlName="imagePath" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_recruteur" jhiTranslate="senegalEmploiApp.offreEmploi.recruteur">Recruteur</label>
          <select
            class="form-control"
            id="field_recruteur"
            data-cy="recruteur"
            name="recruteur"
            formControlName="recruteur"
            [compareWith]="compareRecruteur"
          >
            <option [ngValue]="null"></option>
            @for (recruteurOption of recruteursSharedCollection; track $index) {
              <option [ngValue]="recruteurOption">{{ recruteurOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_typeContrat" jhiTranslate="senegalEmploiApp.offreEmploi.typeContrat">Type Contrat</label>
          <select
            class="form-control"
            id="field_typeContrat"
            data-cy="typeContrat"
            name="typeContrat"
            formControlName="typeContrat"
            [compareWith]="compareTypeContrat"
          >
            <option [ngValue]="null"></option>
            @for (typeContratOption of typeContratsSharedCollection; track $index) {
              <option [ngValue]="typeContratOption">{{ typeContratOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_poste" jhiTranslate="senegalEmploiApp.offreEmploi.poste">Poste</label>
          <select class="form-control" id="field_poste" data-cy="poste" name="poste" formControlName="poste" [compareWith]="comparePoste">
            <option [ngValue]="null"></option>
            @for (posteOption of postesSharedCollection; track $index) {
              <option [ngValue]="posteOption">{{ posteOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_localisation" jhiTranslate="senegalEmploiApp.offreEmploi.localisation">Localisation</label>
          <select
            class="form-control"
            id="field_localisation"
            data-cy="localisation"
            name="localisation"
            formControlName="localisation"
            [compareWith]="compareLocalisation"
          >
            <option [ngValue]="null"></option>
            @for (localisationOption of localisationsSharedCollection; track $index) {
              <option [ngValue]="localisationOption">{{ localisationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
